<h1>Another Ember App!</h1>

{{#if session.isAuthenticated}}
  <button onclick={{action "logout"}}>Logout</button>
  <button onclick={{action "load"}}>Load Data</button>
  {{#if data}}
    <pre>{{data}}</pre>
  {{/if}}
{{else}}
  <button onclick={{action "login"}}>Login</button>
{{/if}}